@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;    
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: #888;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-4 {
    color: #21252f;
    font-weight: 700;
}

a {
    color: #21252f;
    text-decoration: none;
}

/* STYLE LOGIN FORM */
.container_log {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
}

.container_log form {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    background: white;
    width: 500px;
}

.container_log form input,
.container_log form select {
    width: 100%;
    padding: 10px 15px;
    font-size: 17px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #cecece;
}

.container_log form select option {
    background: white;
}

.container_log form p {
    margin-top: 10px;
    font-size: 17px;
    color: #333;
    text-align: center;
}

.container_log form p a {
    color: #025dd4;
    text-decoration: underline;
}

.container_log form .err-msg {
    margin: 10px 0;
    display: block;
    background: #ff8f87;
    color: white;
    border-radius: 5px;
    font-size: 17px;
    padding: 10px;
}

/* END STYLE LOGIN FORM */

img {
    width: 100%;
}

.navbar {
    box-shadow: 0 8px 22px rgba(0, 60, 255, 0.1);
}

.logo-fg {
    width: 190px;
}

.navbar .nav-link {
    font-size: 14px;
    font-weight: 700;
}

.navbar .nav-link.active {
    color: #23292b !important;
}

.btn {
    padding: 10px 14px;
    border-width: 2px;
    border-radius: 5px;
}

.hero_section {
    background-image: url(../img/background.jpg);
    background-position: cover;
    background-size: cover;
    position: relative;
    z-index: 2;
}

.hero_section::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(36, 36, 36, 0.7);
    z-index: -1;
}

section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.card-effect {
    background-color: #fff;
    padding: 25px;
    transition: all .9s ease;
}

.card-effect:hover {
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.2);
    background-color: #f8f8f8;
    transform: scale(1.03);
}

.update_card {
    background-color: #f8f8f8;
}

.bg_card {
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.2);
}

.logoBank img {
    width: 100px;
    height: 50px;
}

label {
    font-weight: 500;
    color: #000;
}

.dropdown-toggle::after {
    content: none;
}

.iconbox {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #025dd4;
    color: #fff;
    font-size: 32px;
    border-radius: 100px;
    flex: none;
}

.products-post img {
    height: 241px;
}

form input.form-control {
    height: 50px;
}

.footer_b {
    background-color: #025dd4;
    color: rgb(212, 212, 212);
}

.img-bengkel {
    width: 300px !important;
    height: 250px !important;
    object-fit: cover;
}

@media (max-width: 575.98px) {
    .bg_card {
        width: 100% !important;
    }

    .img-bengkel {
        width: 150px !important;
        height: 100px !important;
    }

    .table-bengkel {
        /* background-color: red !important; */
        width: 350px !important;
        overflow: scroll !important;
    }

    .table tr th {
        font-size: 12px !important;
    }

    .table tr td {
        font-size: 12px !important;
    }

    .table tr td div a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10px !important;
        height: 10px !important;
    }

    .container a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 50px;
        gap: 3px;
        /* padding: 0 !important; */
        font-size: 12px;
    }
}